@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Roboto", sans-serif !important;
    color: var(--main-color);
}

.container{
    width:1600px;
    margin: 0 auto;
}

/* HEADER */
.hero {
    padding-top: 21px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 21px 48px;
}

.logo {
    font-family: "Rubik", sans-serif;
    font-size: 28px;
    font-weight: 700;
}

.nav-list {
    display: flex;
    gap: 15px;
}

.nav-item {
    font-size: 15px;
    font-weight: 700;
}

.nav-item .nav-link:hover,
.login-signup a:hover {
    color: #FF6B6B;
}

.nav-link {
    color: var(--main-color);
}

.nav-list .active {
    color: #FF6B6B !important;
}

.login-signup {
    display: flex;
    gap: 15px;
    display: inline-block;
}

.login-signup a {
    font-size: 15px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--main-color);
}

.hamburger-menu {
    display: none;
}


.supports{
    width:50%;
    margin: 0 auto;
    padding:109px 0px;
}

.head{
    font-size: 60px;
    font-weight: 700;
    padding-bottom:44px;
    text-align: center;
}

.paragraph{
color: #161C2D;
font-family: Roboto;
font-weight: 400;
font-size: 19px;
line-height: 32px;
letter-spacing: -0.2px;
text-align: center;
opacity: 70%;
padding-bottom:39px;
}

.paragraph2{
font-family: Roboto;
font-weight: 400;
font-size: 17px;
line-height: 29px;
letter-spacing: -0.2px;
color: #161C2D;
opacity: 70%;
padding-bottom:43px;
}

.head2{
font-family: Roboto;
font-weight: 700;
font-size: 19px;
line-height: 32px;
letter-spacing: -0.2px;
color: #161C2D;
padding-bottom:20px;
}

.paragraph3{
font-family: Roboto;
font-weight: 400;
font-size: 17px;
line-height: 29px;
letter-spacing: -0.2px;
color: #161C2D;
opacity: 70%;
padding-bottom: 43px;
}

.head3{
font-family: Roboto;
font-weight: 700;
font-size: 19px;
line-height: 32px;
letter-spacing: -0.2px;
color: #161C2D;
}

.paragraph4{
font-family: Roboto;
font-weight: 400;
font-size: 17px;
line-height: 50px;
letter-spacing: -0.2px;
color: #161C2D;
padding-top: 12px;
opacity: 70%;
}

.paragraph5{
font-family: Roboto;
font-weight: 400;
font-size: 17px;
line-height: 50px;
letter-spacing: -0.2px;
color: #161C2D;
opacity: 70%;
}

.paragraph6{
font-family: Roboto;
font-weight: 400;
font-size: 17px;
line-height: 50px;
letter-spacing: -0.2px;
color: #161C2D;
opacity: 70%;
padding-bottom: 42px;
}

.head4{
 font-family: Roboto;
font-weight: 700;
font-size: 19px;
line-height: 32px;
letter-spacing: -0.2px;
color: #161C2D;
padding-bottom:20px;
}

.paragraph7{
font-family: Roboto;
font-weight: 400;
font-size: 17px;
line-height: 29px;
letter-spacing: -0.2px;
color: #161C2D;
opacity: 70%;
padding-bottom: 43px;
}

.head5{
font-family: Roboto;
font-weight: 700;
font-size: 19px;
line-height: 32px;
letter-spacing: -0.2px;
color: #161C2D;
}

.paragraph8{
font-family: Roboto;
font-weight: 400;
font-size: 17px;
line-height: 29px;
letter-spacing: -0.2px;
opacity: 70%;
}




