
/* HEADER */
.header{
    padding-top: 21px;;
}


.supports{
    width:50%;
    margin: 0 auto;
    padding:109px 0px;
}

.head{
    font-size: 60px;
    font-weight: 700;
    padding-bottom:44px;
    text-align: center;
}

.paragraph{
color: #161C2D;
font-family: Roboto;
font-weight: 400;
font-size: 19px;
line-height: 32px;
letter-spacing: -0.2px;
text-align: center;
opacity: 70%;
padding-bottom:39px;
}

.paragraph2{
font-family: Roboto;
font-weight: 400;
font-size: 17px;
line-height: 29px;
letter-spacing: -0.2px;
color: #161C2D;
opacity: 70%;
padding-bottom:43px;
}

.head2{
font-family: Roboto;
font-weight: 700;
font-size: 19px;
line-height: 32px;
letter-spacing: -0.2px;
color: #161C2D;
padding-bottom:20px;
}

.paragraph3{
font-family: Roboto;
font-weight: 400;
font-size: 17px;
line-height: 29px;
letter-spacing: -0.2px;
color: #161C2D;
opacity: 70%;
padding-bottom: 43px;
}

.head3{
font-family: Roboto;
font-weight: 700;
font-size: 19px;
line-height: 32px;
letter-spacing: -0.2px;
color: #161C2D;
}

.paragraph4{
font-family: Roboto;
font-weight: 400;
font-size: 17px;
line-height: 50px;
letter-spacing: -0.2px;
color: #161C2D;
padding-top: 12px;
opacity: 70%;
}

.paragraph5{
font-family: Roboto;
font-weight: 400;
font-size: 17px;
line-height: 50px;
letter-spacing: -0.2px;
color: #161C2D;
opacity: 70%;
}

.paragraph6{
font-family: Roboto;
font-weight: 400;
font-size: 17px;
line-height: 50px;
letter-spacing: -0.2px;
color: #161C2D;
opacity: 70%;
padding-bottom: 42px;
}

.head4{
 font-family: Roboto;
font-weight: 700;
font-size: 19px;
line-height: 32px;
letter-spacing: -0.2px;
color: #161C2D;
padding-bottom:20px;
}

.paragraph7{
font-family: Roboto;
font-weight: 400;
font-size: 17px;
line-height: 29px;
letter-spacing: -0.2px;
color: #161C2D;
opacity: 70%;
padding-bottom: 43px;
}

.head5{
font-family: Roboto;
font-weight: 700;
font-size: 19px;
line-height: 32px;
letter-spacing: -0.2px;
color: #161C2D;
}

.paragraph8{
font-family: Roboto;
font-weight: 400;
font-size: 17px;
line-height: 29px;
letter-spacing: -0.2px;
opacity: 70%;
}


@media  screen and (max-width:800px) {
    .supports{
        width:80%;
        margin:0 auto;
        text-align: center;
    }
}



